<include file="Public:head" />

<div class="blank"></div>
<div class="block2">
<div class="blank"></div>
<div class="orderSuccess">
 <div class="order_sn tc"> 感谢您在本店购物！您的订单已提交成功，请记住您的订单号：<font class="a">{$ord_sn}</font></div>
  <div class="shipping_name">
	 您的应付款金额为： <strong class="f1">￥{$money}元</strong><br>
	</div>
	<form action="{:U('Home/order/pay')}" method="post" name="theForm" id="theForm" >
	<div style="margin:8px auto;" align="center">
		<input src="__PUBLIC__/Home/images/zhifu.png" type="image" style="width:170px; height:35px">
		<input name="ord_sn" value="{$ord_sn}" type="hidden">
	</div>
	</form>
	<p>现在，您可以 立即支付 </p>
</div>
</div>

<include file="Public:foot" />